{{define "footer.html"}}
</div><!-- end of "container" div -->
<p style="height:4em;margin:0px;">&nbsp;</p>
<div id="footer">
    &copy; <a href="mailto:francis.stephan@free.fr">Francis Stephan 2023</a><br />
    See source code at <a href="https://github.com/francisstephan/chinese-character-writer" target="_blank">https://github.com/francisstephan/chinese-character-writer</a><br />
    For other languages, see also <a href="https://www.eludev.fr/keyboards/" target="_blank">https://www.eludev.fr/keyboards/</a>
</div>
</body>
</html>
{{end}}
