{{template "header.html"}}
<div contenteditable="true" style='outline:none;padding-top:30px;' id="container"></div>
<h1 class="title">
Chinese character writer
</h1>
<p id= describe>This program will assist in getting characters (汉字) from their pinyin (拼音) or reverse.<br />
	It is based on a small dictionary, but it is no substitute for a regular character dictionary such as the 新华字典. 
	Translations are indicative only, and no example is given. <br />
	Pinyin should be entered including their tone, numbered 0 (light tone) to 4. For instance, the pinyin for 人 is ren2,<br />
	while the pinyin for 认 is ren4. <br />
	If you are not sure about the tone, just omit it, you will get the list with all tones for the given pinyin<br /><br />
	Keyboard shortcuts p (input pinyin to get zi) and z (input zi to get pinyin) are available on this page.<br /><br />
	To write a short text in Chinese, select <a href="/zistring">Write hanzi text</a>
</p>
<p>{{ .content }}</p>
{{template "footer.html"}}

