{{template "header.html"}}
<div id='cont'>
<h1 class="title">
	Use latin keyboard, write text in chinese characters (hanzi, 汉字)
</h1>
<p>1. Enter pinyin with tone in the "Enter" textarea below. A list of possible hanzi appears.<br />
   2. Select hanzi from list by clicking on it.<br />
   The selected zi gets added to the result text.<br />
   To add more hanzi to the text, repeat steps 1 & 2 again</p>
<p id="entrée">Enter pinyin+tone (press / or space after pinyn if tone unknown) : <input type='text' id='PYstring' size='10' autofocus oninput='convertToZi()'></p>
<p id="resultat">Result hanzi text : {{ .zistring }} </p>
<button class = "Addzi" onclick='copyTextToClipboard()' >Copy to clipboard</button>
<button class = "Addzi" onclick='reset()' >Reset</button>
<p id="zilist" >{{ .content }}</p>
{{template "footer.html"}}
